librosa==0.11.0
numpy==2.3.4
onnxruntime-gpu==1.21.1
soundfile==0.13.1
tqdm==4.68.4
phonemizer-fork==3.3.2
espeakng-loader==0.2.4
fastapi==0.139.2
uvicorn==0.51.0
python-multipart==0.0.32
pypinyin==0.55.0
websockets==16.1.1
sherpa-onnx==1.12.40
